.skills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.skills > * {
  margin-left: 1%;
  margin-top: 0.3%;
  color: #08916f;
}

.panel-heading {
  background: #08916f !important;
  color: white !important;
  font-size: 1.5em;
}
