.modal-row {
  display: flex;
  flex-wrap: wrap;
}

.modal-row > * {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-row > p {
  margin-left: 7%;
  margin-right: 7%;
}

.modal-row > img {
  border: thin dashed grey;
}

.repo-link {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.repo-link > div {
  width: 15%;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
}

.repo-link a {
  color: black;
}

.repo-link > div > a > img {
  width: 65%;
  height: 65%;
}
